.card .card-image {
  padding-left: 40px;
  padding-right: 100px;
}

.card.horizontal .card-image {
  background: linear-gradient(to right, #7aa09b, #536d79);
}

.collection.with-header .collection-header {
  background-color: inherit;
  color: #483146;
  font-weight: 400;
}